body{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin:0;
    background-image:url(https://i.pinimg.com/originals/e4/33/03/e43303729421ba43dea9b4b3d9ff9eb7.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.container{
    padding: 2em;
    background-color: white;
    max-width: 1000px;
    min-height:100vh;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.task-area{
    border: 3px solid #F5F5F6;
    margin-top: 1em;
    border-radius: 10px;
}

.task-tabs{
    display: flex;
    border-bottom: 3px solid #F5F5F6;
    position: relative;
}

.task-tabs div{
    padding:1.2em;
}

#under-line{
    height: 4px;
    background-color: #4CAD45;
    position: absolute;
    width:57px;
    left:0px;
    top:62px;
    padding: 0px;
    border-radius: 10px;
    transition: 0.5s
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
}


.task-done{
    text-decoration: line-through;
    background-color: lightgray;
       
}

button{
    margin: 0.6em;
    height: 3em;
    border: none;
    width: 3em;
    background-color: #ececec;
    border-radius: 10px;
}

.task span{
    padding-left: 2em;
    padding-right: 2em;
}

.trashcan{
    margin-right:2em;
}

input{
    padding:1em;
    border: 3px solid #F5F5F6;
    width: 30em;
    height: 3.5em;
    border-radius: 10px;
}

.fa-check{
    color: #9FA0AE;
}

.fa-trash{
    color: #9FA0AE;
}

h1{
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: 600;
}

.no-space{
    display: flex;
}

#add-button{
    width: 3.5em;
    height: 3.5em;
}

.no-space button:first-child:hover{
    background-color: #8BE684;
}

.no-space button:nth-child(2):hover{
    background-color: #E79FA0;
}

.task-tabs div{
    cursor:pointer;
}

@media (max-width: 800px) {
    .container{
        border-radius: 0px;
        min-height: 90vh;
        background-image: url(https://i.pinimg.com/originals/02/0f/20/020f205d35ce4d34e06cc785f757bd62.jpg);
        background-repeat:no-repeat;
        background-size:cover;
    }

    input{
        width : 12em;
        height: 3em;
    }

    h1{
        font-size : 1.5em;
    }

    #add-button{
        width: 3em;
        height: 3em;
    }

    body{
        font-size: 14px;
    }
    
    #under-line{
        top:55px;
        width:50px;
    }
}